#article {
  article {
    @include container($width-medium);

    color: $color-text-dark;
    font-size: $font-size-text;
    hyphens: auto;
  }

  header > h1 {
    max-width: $font-size-4 * strip-unit($measure-large);
    padding-bottom: spacing(2);
    font-size: $font-size-5;
    line-height: 1.2;

    @include breakpoint($breakpoint-tablet-landscape-up) {
      font-size: $font-size-6;
    }
  }

  aside {
    padding: 1rem;
    color: $color-text-dark-secondary;
    font-size: $font-size-2;

    @include breakpoint($breakpoint-tablet-landscape-up) {
      max-width: $measure-small;
      padding: 0 0 1rem 1rem;
      float: right;
    }
  }

  .abstract {
    max-width: $measure-large;
    font-size: $font-size-3;
  }

  .meta {
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-top: 1px solid $color-divider-dark;
    color: $color-text-dark-disabled;
    font-family: $font-family--sans;
    font-size: $font-size-1;

    > * {
      margin-top: .2rem;
    }
  }

  //Don't forget the 'Lobotomized Owl' technique on content areas.
  .content > * + * {
    margin-top: 1.5rem;
  }

  p,
  ol,
  ul,
  blockquote {
    max-width: $measure-medium;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .references,
  .footnotes,
  .appendix {
    max-width: $font-size-3 * strip-unit($measure-medium);
  }

  .content > blockquote {
    position: relative;
    padding-left: 1.05em; // Same as ul/ol indent

    &::before {
      position: absolute;
      left: 0;
      width: 4px;
      height: 100%;
      background-color: $color-text-dark;
      content: "";
    }
  }

  .content > ul,
  .content > ol {
    padding-left: 1.05em;
  }

  .content > ul {
    list-style-type: disc;
  }

  .content > ol {
    list-style-type: decimal;
  }

  .content pre {
    padding: .3rem .5rem;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: #f7f7f7;
    font-size: $font-size-2;
    line-height: 1.5;
    overflow: auto;
  }

  sup,
  .citation {
    position: relative;
    top: -.5em;
    padding-bottom: .5em;
    font-size: 75%;
  }

  // Generated content below article
  .appendix,
  .references,
  .footnotes {
    margin: 2rem 0;
    padding-top: 2rem;
    border-top: 1px solid $color-divider-dark;
    color: $color-text-dark-secondary;
    font-family: $font-family--sans;
    font-size: $font-size-2;

    * + * {
      margin-top: .75rem;
    }

    > h4 {
      font-size: $font-size-text;
    }

    pre {
      max-width: 32rem;
      padding: spacing(0);
      white-space: nowrap;
    }

    ol {
      padding-left: 1.05em;
      list-style-type: decimal;
    }
  }

  .appendix > h4:not(:first-child) {
    margin-top: 2rem;
  }

  .references::before,
  .footnotes::before {
    display: block;
    margin-bottom: 1rem;
    font-size: $font-size-text;
    font-weight: bold;
  }

  .references::before {
    content: "References";
  }

  .footnotes::before {
    content: "Footnotes";
  }

  .footnotes {
    hr {
      display: none;
    }

    p {
      display: inline;
    }
  }

  .references ~ .footnotes,
  .references ~ .appendix,
  .footnotes ~ .appendix {
    padding-top: 0;
    border-top: 0;
  }

  // Table of contents
  #TOC {
    li > ul {
      margin-left: 1rem;
    }
  }

  // Minimalistic table style used both in code output and directly in the article
  table {
    border: none;
    color: black;
    font-size: $font-size-2;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;

    thead {
      border-bottom: 1px solid black;
      vertical-align: bottom;
    }

    tr {
      border: none;
      line-height: normal;
    }

    td,
    th {
      padding: .5rem;
      border: none;
    }
  }

  // Modifiers
  // Can be used with the pandoc link attributes syntax, e.g. { .centered }
  .caption {
    display: block;
    font-size: $font-size-2;
    font-style: italic;
  }

  .caption::before {
    display: inline;
    font-weight: bold;
  }

  .caption.figure::before {
    content: "Figure: ";
  }

  .caption.table::before {
    content: "Table: ";
  }

  .caption.code::before {
    content: "Code: ";
  }

  // Tablet-portrait up
  /* stylelint-disable max-nesting-depth */
  @include breakpoint($breakpoint-tablet-portrait-up) {
    article {
      font-size: $font-size-3;
    }

    .abstract {
      font-size: $font-size-4;
    }

    .meta {
      flex-direction: row;
      justify-content: flex-end;

      a {
        display: block;
      }

      > time,
      > a {
        display: inline;
        max-width: 6em; // force line break
      }

      > *:not(:last-child) {
        margin-right: 1rem;
        padding-right: 1rem;
        border-right: 1px solid $color-divider-dark;
      }
    }

    // Centered variation
    // Can be used by placing "centered: true" in the YAML frontmatter
    article.centered {
      header > h1 {
        margin: auto;
        text-align: center;
      }

      .abstract {
        text-align: center;
      }

      .content > * {
        margin-right: auto;
        margin-left: auto;
      }

      .meta {
        justify-content: center;
        text-align: center;
      }

      .caption {
        text-align: center;
      }

      img {
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}
